.container{
  display: grid;
  max-width:500px;
  grid-template-columns: repeat(5,auto);
  gap:5px;
}
.block{
  width:100px;
  height:100px;
  border:1px solid black;
  overflow: hidden;
}

.choose{
  background-color: red;
}

.win{
  border-color:green;
  background-color: green;
}

.block img{
  max-width: 100%;
  height: auto;
}